##No se habiltan pusheo de carpeta: .vscode
*.vscode

#No se habiltan pusheo de archivos: .zip
*.zip

# Al estar aún es proceso no se cargará el archivos: Grupos de trabajos.xlsx
*Grupos de trabajos.xlsx

# Al estar aún es proceso no se cargará el archivos: Ejercicios.ipynb
*Ejercicios.ipynb

# Al estar aún es proceso no se cargará el archivos: Libros
*Libros

# Al estar aún es proceso no se cargará el archivos: .pdf
*.pdf
*.cvs
